<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HAController.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HAController.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="Delimited" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="Delimited" type="System.Diagnostics.DelimitedListTraceListener,             System, Version=2.0.0.0,             Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="C:\HAC\HAClog.txt" traceOutputOptions="DateTime" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <HAController.My.MySettings>
      <setting name="Global_LastHomeStatus" serializeAs="String">
        <value />
      </setting>
      <setting name="Insteon_AlarmAddr" serializeAs="String">
        <value />
      </setting>
      <setting name="Insteon_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Insteon_LastGoodCOMPort" serializeAs="String">
        <value />
      </setting>
      <setting name="Insteon_ThermostatAddr" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenWeatherMap_APIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenWeatherMap_CityID" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenWeatherMap_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ping_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ping_InternetCheckAddress" serializeAs="String">
        <value>4.2.2.2</value>
      </setting>
      <setting name="Speech_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Mail_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Mail_SMTPHost" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail_SMTPPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="Mail_To" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail_From" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail_Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Converse_BotName" serializeAs="String">
        <value>Sarah</value>
      </setting>
      <setting name="Mail_POPHost" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail_POPPort" serializeAs="String">
        <value>995</value>
      </setting>
      <setting name="Mail_CmdWhitelist" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail_CmdKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Speech_SelectedVoice" serializeAs="String">
        <value />
      </setting>
      <setting name="Converse_BotGender" serializeAs="String">
        <value>Female</value>
      </setting>
      <setting name="Global_TimeDoorLastOpened" serializeAs="String">
        <value />
      </setting>
      <setting name="DreamCheeky_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Global_Experimental" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Global_CarMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Global_LastKnownOutsideTemp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Global_LastKnownInsideTemp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Global_LastKnownOutsideCondition" serializeAs="String">
        <value />
      </setting>
      <setting name="Music_LastPlaylist" serializeAs="String">
        <value />
      </setting>
      <setting name="Global_InsideTempHeatWarning" serializeAs="String">
        <value>82</value>
      </setting>
      <setting name="Global_InsideTempColdWarning" serializeAs="String">
        <value>66</value>
      </setting>
      <setting name="Random_RandomOrgAPIKey" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="Random_RandomOrgEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MatrixLCD_LastGoodCOMPort" serializeAs="String">
        <value />
      </setting>
      <setting name="MatrixLCD_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Music_Volume" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="Music_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GPS_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GPS_LastGoodCOMPort" serializeAs="String">
        <value />
      </setting>
      <setting name="GPS_RateLimit" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Global_UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MapQuest_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MapQuest_APIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="GPS_DefaultAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="WolframAlpha_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WolframAlpha_APIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Global_StartupCommand" serializeAs="String">
        <value />
      </setting>
      <setting name="MatrixLCD_ToastHoldTime" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Insteon_ThermostatSlaveAddr" serializeAs="String">
        <value />
      </setting>
      <setting name="Global_LastKnownInsideTemp2nd" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Mail_IMAPMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Mail_IMAPHost" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail_IMAPPort" serializeAs="String">
        <value>993</value>
      </setting>
      <setting name="Pihole_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Pihole_IPAddress" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="Global_LoadModulesAsync" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Global_TimeThermostatLastUpdated" serializeAs="String">
        <value />
      </setting>
      <setting name="ZWave_LastGoodCOMPort" serializeAs="String">
        <value />
      </setting>
      <setting name="ZWave_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Converse_PreserveCaps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Library_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Library_Repository" serializeAs="String">
        <value />
      </setting>
      <setting name="Sync_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Sync_ServerURL" serializeAs="String">
        <value />
      </setting>
      <setting name="Sync_AccessKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Sync_CryptoKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Insteon_COMPortDeviceName" serializeAs="String">
        <value />
      </setting>
      <setting name="GPS_COMPortDeviceName" serializeAs="String">
        <value />
      </setting>
      <setting name="MatrixLCD_COMPortDeviceName" serializeAs="String">
        <value />
      </setting>
      <setting name="ZWave_COMPortDeviceName" serializeAs="String">
        <value />
      </setting>
      <setting name="Global_SmartCOM" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StreamDeck_Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Global_PrimaryUser" serializeAs="String">
        <value>me</value>
      </setting>
      <setting name="Sync_SandstormToken" serializeAs="String">
        <value />
      </setting>
      <setting name="Ping_PublicIPSource" serializeAs="String">
        <value>dyndns</value>
      </setting>
      <setting name="Ping_LastKnownPublicIP" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="Pihole_APIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Insteon_SumpAlarmAddr" serializeAs="String">
        <value />
      </setting>
      <setting name="Sync_LocalQueueMode" serializeAs="String">
        <value>False</value>
      </setting>
    </HAController.My.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <HAController.My.MySettings>
      <setting name="Database_FileURI" serializeAs="String">
        <value>C:\HAC\HACdb.sqlite</value>
      </setting>
      <setting name="Global_LogFileURI" serializeAs="String">
        <value>C:\HAC\HAClog.txt</value>
      </setting>
      <setting name="Global_UpdateCheckURI" serializeAs="String">
        <value>https://hac.jacobweisz.com/dl/current.txt</value>
      </setting>
      <setting name="Global_UpdateFileURI" serializeAs="String">
        <value>https://hac.jacobweisz.com/dl/update.zip</value>
      </setting>
      <setting name="Global_ScriptsFolderURI" serializeAs="String">
        <value>C:\HAC\scripts\</value>
      </setting>
    </HAController.My.MySettings>
  </applicationSettings>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
  
</configuration>
