<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HAController.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="Delimited" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="Delimited" type="System.Diagnostics.DelimitedListTraceListener, &#xD;&#xA;           System, Version=2.0.0.0, &#xD;&#xA;           Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="C:\HAC\HAClog.txt" traceOutputOptions="DateTime" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <HAController.My.MySettings>
      <setting name="Database_FileURI" serializeAs="String">
        <value>C:\HAC\HACdb.sqlite</value>
      </setting>
      <setting name="Global_LastHomeStatus" serializeAs="String">
        <value />
      </setting>
      <setting name="Insteon_AlarmAddr" serializeAs="String">
        <value />
      </setting>
      <setting name="Insteon_DoorSensorAddr" serializeAs="String">
        <value />
      </setting>
      <setting name="Insteon_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Insteon_LastGoodCOMPort" serializeAs="String">
        <value />
      </setting>
      <setting name="Insteon_ThermostatAddr" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenWeatherMap_APIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenWeatherMap_CityID" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenWeatherMap_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ping_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ping_InternetCheckAddress" serializeAs="String">
        <value>8.8.8.8</value>
      </setting>
      <setting name="Speech_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Mail_Enable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Mail_SMTPHost" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail_SMTPPort" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail_To" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail_From" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail_Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Insteon_SmokeBridgeAddr" serializeAs="String">
        <value />
      </setting>
      <setting name="Insteon_BackDoorSensorAddr" serializeAs="String">
        <value />
      </setting>
      <setting name="Insteon_WakeLightAddr" serializeAs="String">
        <value />
      </setting>
      <setting name="Converse_BotName" serializeAs="String">
        <value>Sarah</value>
      </setting>
      <setting name="Mail_POPHost" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail_POPPort" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail_CmdWhitelist" serializeAs="String">
        <value />
      </setting>
    </HAController.My.MySettings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>